<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TPO6_DV_S19314</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>presentationServlet</param-name>
    <param-value>/presentation</param-value>
  </context-param>
  <context-param>
    <param-name>getParametersServlet</param-name>
    <param-value>/getparameters</param-value>
  </context-param>
  <context-param>
    <param-name>commandClassName</param-name>
    <param-value>controller.command.FindBooksCommand</param-value>
  </context-param>
  
  <context-param>
    <param-name>resultBundleServlet</param-name>
    <param-value>/resultBundleServlet</param-value>
  </context-param>
  
  
  <context-param>
    <param-name>resBundleName</param-name>
    <param-value>localization.LibraryParametersDefinition</param-value>
  </context-param>
  
  <context-param>
    <param-name>localization_region</param-name>
    <param-value>pl</param-value>
  </context-param>
  
  
  
  
</web-app>